* {
    font-size: 30px;
}

/* pseudoelementy poniewaz nie ma ich w kodzie html */

#kontener p::before{
    content: '*';
}

#kontener p::after{
    content: '*';
}

#kontener p::first-line{
    content: '*';
}

/* unicode w css \U1234 */

#kontener h1::first-letter{
    color: aqua;
}

#m123 p::first-letter{
    color: red;
    font-size: 40px;
}

/* pseudoklasy linków */

#link a {
    color: pink;
}

#link a:visited{
    color:gray;
}

#link a:hover{
    color: yellow;
}

#link a:active{
    color: red;
}

/* fokus na inputa */

#form input:focus{
    color:magenta;
}

/* pseudoklasy target lang */

div:target{
    border: 2px solid black;
}